<h1 class="display-4 subTitle" >Our Selection Of Quizzes</h1>
<div class="container">
	<div class="row destacados">
		<div class="col-md-4">
    		<div>
				<%= image_tag("Hiragana.jpg", :alt => "hiragana and katakana quiz", :class=> "img-circle img-thumbnail" )%>
				<h2>Hiragana and Katakana</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua.</p>
				<a href="/quiz/hiragana" class="btn btn-primary" title="Start">Start »</a>
			</div>
		</div>

		<div class="col-md-4">
			<div>
				<%= image_tag("KanjiImage.jpg", :alt => "Kanji quiz", :class=> "img-circle img-thumbnail" )%>
				<h2>Kanji</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua.</p>
				<a href="#" class="btn btn-primary" title="Start">Start »</a>
			</div>
		</div>

		<div class="col-md-4">
			<div>
				<%= image_tag("UserQuiz.jpg", :alt => "Grammer quiz", :class=> "img-circle img-thumbnail" )%>
				<h2>Words and Grammer</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua.</p>
				<a href="#" class="btn btn-primary" title="Start">Start »</a>
			</div>
		</div>
	</div>
</div>